In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
url_casos_tuberculose = "https://github.com/nicolas-stelatto/projeto_bootcamp_alura_M2/raw/main/dados_brutos/casos_tuberculose.csv"
dados = pd.read_csv(url_casos_tuberculose, encoding="ISO-8859-1", 
                    skiprows = 3, sep=";", skipfooter=18,
                    na_values='-',
                    thousands=".", decimal=",", engine="python")

In [20]:
dados

,UF de notificação,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
0,11 Rondônia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,720.0,690.0,660.0,779.0,772.0,697.0,737,590.0,3.0,13090
1,12 Acre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,394.0,440.0,389.0,436.0,489.0,484.0,584,553.0,NaN,8081
2,13 Amazonas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3066.0,3127.0,3401.0,3284.0,3697.0,3794.0,3958,3520.0,29.0,58327
3,14 Roraima,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,167.0,148.0,170.0,162.0,206.0,262.0,323,293.0,NaN,3674
4,15 Pará,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4131.0,3944.0,3974.0,4216.0,4512.0,4699.0,5512,4521.0,24.0,82682
5,16 Amapá,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,220.0,210.0,223.0,284.0,306.0,279.0,363,273.0,2.0,5267
6,17 Tocantins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,190.0,193.0,190.0,208.0,185.0,233.0,239,204.0,3.0,4620
7,21 Maranhão,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2316.0,2081.0,2277.0,2412.0,2505.0,2659.0,2705,2358.0,33.0,51953
8,22 Piauí,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,903.0,815.0,773.0,794.0,805.0,879.0,874,792.0,13.0,22158
9,23 Ceará,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4071.0,3884.0,4014.0,4034.0,4316.0,4560.0,4582,3832.0,28.0,85787
10,24 Rio Grande do Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1273.0,1194.0,1142.0,1183.0,1331.0,1597.0,1452,1553.0,17.0,25372
11,25 Paraíba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1452.0,1332.0,1234.0,1221.0,1357.0,1531.0,1501,1274.0,20.0,27190
12,26 Pernambuco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5488.0,5460.0,5643.0,5529.0,6296.0,6484.0,6816,6210.0,97.0,109108
13,27 Alagoas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1313.0,1271.0,1065.0,1227.0,1296.0,1327.0,1310,993.0,10.0,26370
14,28 Sergipe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,712.0,793.0,766.0,792.0,820.0,972.0,1014,852.0,4.0,14569
15,29 Bahia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5748.0,5667.0,5315.0,5272.0,5508.0,5662.0,5706,4603.0,50.0,130068
16,31 Minas Gerais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4196.0,4220.0,4014.0,4068.0,4105.0,4235.0,4327,3978.0,28.0,92310
17,32 Espírito Santo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1378.0,1315.0,1390.0,1236.0,1321.0,1479.0,1476,1781.0,30.0,29270
18,33 Rio de Janeiro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13487.0,13042.0,13295.0,13538.0,14084.0,14749.0,15044,13456.0,125.0,291356
19,35 São Paulo,1.0,3.0,2.0,3.0,1.0,1.0,1.0,2.0,1.0,...,19840.0,19654.0,20403.0,20395.0,22092.0,22302.0,21954,19419.0,263.0,389594
20,41 Paraná,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2635.0,2557.0,2484.0,2444.0,2474.0,2859.0,2850,2904.0,40.0,57706
21,42 Santa Catarina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2278.0,2236.0,2142.0,2213.0,2249.0,2245.0,2327,1619.0,20.0,40584
22,43 Rio Grande do Sul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6342.0,6397.0,6398.0,6036.0,6529.0,6864.0,7615,6604.0,79.0,122095
23,50 Mato Grosso do Sul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1097.0,995.0,1003.0,1132.0,1128.0,1445.0,1413,1224.0,3.0,21393
24,51 Mato Grosso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1891.0,1829.0,1406.0,1512.0,1425.0,1407.0,1541,1238.0,8.0,27836
25,52 Goiás,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1076.0,993.0,1093.0,1031.0,1143.0,1217.0,1165,991.0,8.0,21357
26,53 Distrito Federal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,467.0,531.0,472.0,462.0,403.0,469.0,482,409.0,6.0,10436
27,00 Ignorado/exterior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1
28,Total,1.0,3.0,2.0,3.0,1.0,1.0,1.0,2.0,1.0,...,86851.0,85018.0,85336.0,85900.0,91354.0,95390.0,97871,86044.0,943.0,1772254

In [21]:
dados = dados.rename(columns={'UF de notificação':'UF'})
dados.head()

,UF,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
0,11 Rondônia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,720.0,690.0,660.0,779.0,772.0,697.0,737,590.0,3.0,13090
1,12 Acre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,394.0,440.0,389.0,436.0,489.0,484.0,584,553.0,NaN,8081
2,13 Amazonas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3066.0,3127.0,3401.0,3284.0,3697.0,3794.0,3958,3520.0,29.0,58327
3,14 Roraima,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,167.0,148.0,170.0,162.0,206.0,262.0,323,293.0,NaN,3674
4,15 Pará,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4131.0,3944.0,3974.0,4216.0,4512.0,4699.0,5512,4521.0,24.0,82682

In [23]:
dict_regiao = {'1':'Norte', '2':'Nordeste', '3':'Sudeste', '4':'Sul','5':'Centro-Oeste'}
dados['regiao'] = [dict_regiao[UF[0]] for UF in dados['UF']]
dados['UF'] = [uf[3:] for uf in dados['UF']]
dados.head()

KeyError: '0'

In [18]:
dados = pd.melt(dados, id_vars=['UF', 'regiao'],var_name='data', value_name=nome)

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
0,662.0,636.0,648.0,623.0,628.0,518.0,544.0,563.0,665.0,575.0,...,720.0,690.0,660.0,779.0,772.0,697.0,737,590.0,3.0,13090
1,353.0,373.0,370.0,350.0,329.0,383.0,315.0,327.0,364.0,342.0,...,394.0,440.0,389.0,436.0,489.0,484.0,584,553.0,NaN,8081
2,2333.0,2271.0,2333.0,2557.0,2498.0,2442.0,2443.0,2691.0,2604.0,2750.0,...,3066.0,3127.0,3401.0,3284.0,3697.0,3794.0,3958,3520.0,29.0,58327
3,149.0,172.0,200.0,217.0,160.0,149.0,137.0,156.0,145.0,150.0,...,167.0,148.0,170.0,162.0,206.0,262.0,323,293.0,NaN,3674
4,3447.0,3764.0,3936.0,4077.0,3992.0,3819.0,3741.0,3792.0,4091.0,4101.0,...,4131.0,3944.0,3974.0,4216.0,4512.0,4699.0,5512,4521.0,24.0,82682

In [6]:
def limpa_dados(dados, nome):
    '''
    Função que recebe um conjunto de dados dos casos de tuberculose e faz diversas manipulações:
        
        renomeia a coluna Unidade da Federação para UF para simplificar
        cria uma coluna para indicar a região
        elimina os números antes do nome dos estados
        elimina a coluna total
        transforma as colunas relacionadas a data em uma coluna apenas(coluna data)
        transforma a coluna data para o tipo date do python
        restringe a data entre 2001 e 2020
        
    Parâmetros:
        
        dados: dataframe com a base de dados coletado do datasus, tipo=pd.DataFrame
        nome: nome da variável numérica correspondente, tipo="string""
    '''
    #Renomeando a coluna Unidade da Federação para simplificar a manipulação 
    dados = dados.rename(columns={'UF de notificação':'UF'})

    #Criando uma coluna com a região e eliminado os números da coluna UF
    dict_regiao = {'1':'Norte', '2':'Nordeste', '3':'Sudeste', '4':'Sul','5':'Centro-Oeste'}
    dados['regiao'] = [dict_regiao[uf[0]] for uf in dados['UF']]
    dados['UF'] = [uf[3:] for uf in dados['UF']]
    
    #Tirando a coluna Total 
    dados = dados.drop('Total', axis=1)
    
    #Eliminando dados antes de 2001
    dados = dados[dados.columns.to_list()[20:]]

    #Transformando as colunas em uma coluna data
    dados = pd.melt(dados, id_vars=['UF', 'regiao'],var_name='data', value_name=nome)
    
    #Transformando as colunas em tipo data
    dados['data'] = tranforma_date(dados['data'])
    
    #Eliminado dados antes de Fev de 2008 e depois de Dez de 2019
    dez_2019 = date.fromisoformat('2019-12-01')
    rows_drop = dados[dados['data'].dt.date>dez_2019]
        
    #Tirando a coluna Total 
    dados = dados.drop(rows_drop.index)

    return dados

,UF de notificação,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total
19,35 São Paulo,1,3.0,2.0,3.0,1.0,1.0,1.0,2.0,1.0,...,19840.0,19654.0,20403.0,20395.0,22092.0,22302.0,21954.0,19419.0,263.0,389594.0
28,Total,1,3.0,2.0,3.0,1.0,1.0,1.0,2.0,1.0,...,86851.0,85018.0,85336.0,85900.0,91354.0,95390.0,97871.0,86044.0,943.0,1772254.0